@font-face {
    font-family: 'icomoon';
    src:  url('../fonts2/icomoon.eot?dx3gwp');
    src:  url('../fonts2/icomoon.eot?dx3gwp#iefix') format('embedded-opentype'),
    url('../fonts2/icomoon.ttf?dx3gwp') format('truetype'),
    url('../fonts2/icomoon.woff?dx3gwp') format('woff'),
    url('../fonts2/icomoon.svg?dx3gwp#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
}