@font-face {
    font-family: 'icomoon';
    src:  url('../fonts2/icomoon.eot?4y62fb');
    src:  url('../fonts2/icomoon.eot?4y62fb#iefix') format('embedded-opentype'),
    url('../fonts2/icomoon.ttf?4y62fb') format('truetype'),
    url('../fonts2/icomoon.woff?4y62fb') format('woff'),
    url('../fonts2/icomoon.svg?4y62fb#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
}
body{
    height: 1px;
    margin: 0;
    top: 0;
    background: linear-gradient(90deg,rgb(73,58,130),rgb(113,58,130));
}
h2{
    margin: 0;
    padding: 5px 0 0 10px;
}
.icon{
    font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.listbtn{
    position: fixed;
    z-index: 10;
    top: 0;
    left: 0;
    width: 50px;
    height: 60px;
    cursor: pointer;
    transition: 0.3s;
    line-height: 60px;
    font-size: 40px;
    text-align: center;
    color:#eeeeee;
}
.listbtn:hover{
    background-color: rgba(0,0,0,0.3);
}
.list{
    position: fixed;
    z-index: 2;
    top: 0;
    left: -300px;
    height: 100%;
    width: 300px;
    background-color: rgb(134,107,230);
    transition: 0.3s;
}
.listbox{
    position: relative;
    top: 160px;
    left: 0;
    width: 300px;
}
.informations{
    /*height: 200px;*/
}
.pub{
    /*height: 300px;*/
}
.listunit{
    width: 240px;
    height: 60px;
    margin: auto;
    color:rgb(198,196,221);
    font-size: 20px;
    text-align: center;
    line-height: 60px;
    cursor: pointer;
    transition: 0.2s;

    -webkit-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
    user-select:none;
}
.listunit:hover{
    color:#fff;
    background-color: rgba(0,0,0,0.1);
}
.list span{
    display: block;
    width: 240px;
    height: 1px;
    margin: auto;
    background-color: rgba(189,143,255,0.3);
}
.list .division{
    position: relative;
    top: 160px;
    width: 300px;
    height: 1px;
    background-color: rgba(189,143,255,0.8);
}
.userimg{
    background-image: url(../images/headimg5.png);
    background-size: cover;
    position: fixed;
    z-index: 5;
    top: 5px;
    left: 50px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: rgba(0,0,0,0.5);
    transition: .2s;
    cursor: pointer;
}
.user{
    position: absolute;
    top: 105px;
    left: 25px;
    z-index: -1;
    width: 180px;
    height: 220px;
    border-radius: 10px;
    background-color: rgba(73, 58, 130, 0.96);
    overflow: hidden;
    opacity: 0;
    transition: .2s;
}
.userid{
    position: relative;
    top: 26px;
    left: 60px;
    width: 160px;
    height: 30px;
    opacity: 0;
    transition: .2s;
    color:#eee;
    text-align: center;
    font-size: 20px;
    cursor: default;

    -webkit-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
    user-select:none;
}
.userinfounit{
    width: 160px;
    height: 42px;
    margin: 10px auto 0 auto;
    cursor: pointer;
    color: rgb(198,196,221);
    font-size: 18px;
    font-weight: 300;
    text-align: center;
    line-height: 40px;
    opacity: 0;
    transition: 0.1s;
    border-radius: 6px;

    -webkit-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
    user-select:none;
}
.userinfounit:hover{
    background-color: rgba(0,0,0,0.2);
    color:#fff;
}
.rightpage{
    position: absolute;
    top: 0;
    right: 0;
    /*height: 3000px;*/
    width: 100%;
    transition: 0.3s;
}
.header{
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    width: 100%;
    height: 60px;
    background: linear-gradient(90deg,rgb(73,58,130),rgb(113,58,130));
    box-shadow: 0 0 8px -2px rgba(0,0,0,0.6);
}
.category{
    width: 900px;
    height: 100%;
    margin: 0 auto 0 auto;
    transition: 0.3s;
}
.c{
    width: 140px;
    height: 58px;
    float: left;
    margin-right: 10px;
    color:#cccccc;
    text-align: center;
    line-height: 58px;
    font-size: 22px;
    transition: 0.2s;

    -webkit-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
    user-select:none;
}
.c:hover{
    color:#fff;
    background-color: rgba(0,0,0,0.1);
}
.c-underline {
    width: 0;
    height: 2px;
    margin: auto;
    background-color: rgb(189, 143, 255);
    transition: .2s;
}
.c-current{
    width: 140px;
}
.search-box{
    position: absolute;
    top: 0;
    right: 52px;
    width: 240px;
    height: 100%;
    line-height: 100%;
}
.search{
    float:left;
    width: 200px;
    height: 36px;
    margin-top: 10px;
    border: 0;
    background-color: rgba(0,0,0,0.2);
    outline: none;
    color: #eee;
    font-size: 20px;
}
.searchimg{
    float: left;
    width: 38px;
    height: 38px;
    margin-top: 10px;
    background-color: rgba(0,0,0,0.2);
    cursor: pointer;
    color:rgb(198,196,221);
    font-size: 30px;
    text-align: center;
    line-height: 38px;
}
.main-container{
    position: relative;
    top: 70px;
    right: 0;
    width: 100%;
    /*height: 3000px;*/
}
.main{
    width: 900px;
    /*height: 3000px;*/
    margin: 0 auto 0 auto;
}
.mainunitcontainer{
    height: auto;
    width: 100%;
    margin-top: 2px;
    background-color: rgb(224, 213, 240);
    overflow: hidden;
}
.mainunit{
    height: auto;
    width: 890px;
    margin: 5px 5px 0 5px;
    transition: 0.3s;
}
.main-buttons{
    width: 860px;
    height: 50px;
    margin: 0 20px 5px 20px;
    text-align: center;

    -webkit-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
    user-select:none;
}
.textcontainer{
    width: 800px;
    margin: 5px auto 0 auto;
    font-size: 18px;
    overflow: hidden;
    transition: 0.2s;
}
.blogsmaintext{
    height: 70px;
}
.resourcemaintext,.messagemaintext{
    height: 50px;
}
.mdcontainer{
    position: relative;
    z-index: -1;
    display: none;
}
.md{
    overflow: hidden;
}
.main-unfold{
    float:left;
    height: 36px;
    width: 60px;
    margin: 7px 0 0 10px;
    border-radius: 10px;
    background-color: rgba(0,0,0,0.05);
    line-height: 36px;
    font-size: 26px;
    transition: .2s;
    cursor: pointer;
}
.main-like,.main-collect,.main-check{
    float:right;
    width: 36px;
    height: 36px;
    border-radius: 18px;
    margin: 7px 10px 0 0 ;
    background-color: rgba(0,0,0,0.05);
    color:#111;
    line-height: 36px;
    font-size: 22px;
    cursor: pointer;
    overflow: hidden;
    transition: .2s;
}
.main-unfold:hover,.main-like:hover,.main-collect:hover,.main-check:hover{
    background-color: rgba(0,0,0,0.15);
}
